.contenido-nosotros{
    @include tablet{
        @include grid(2, 3rem);
        align-items: center;
    }
}
.texto-nosotros{
    h3{
        font-weight: $bold;
    }
    p{
        text-align: justify;
    }
}